{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
<style type="text/css">
    .gohide {
        display: none;
    }

    .button.button--wapasha.btn-center {
        margin-top: 150px;
    }

    div.iframe-embed-youtube iframe {
        width: 100%;
        height: 575px;
        margin-bottom: 15px;
    }

    @media(max-width: 1200px) {
        div.iframe-embed-youtube iframe {
            height: 450px;
        }
    }

    @media(max-width: 1023px) {
        div.iframe-embed-youtube iframe {
            height: 350px;
        }
    }

    @media(max-width: 767px) {
        div.iframe-embed-youtube iframe {
            height: 400px;
        }
    }

    @media(max-width: 500px) {
        div.iframe-embed-youtube iframe {
            height: 250px;
        }
    }
</style>

<link rel="stylesheet" href="{% static 'blogs/css/styles.css' %}" />
{% endblock style %}

{% block main %}
<section id="main">
    <div class="full-banner"
        style="background: url('{% if blog.img %} {{ blog.img.url }} {% endif %}'); center no-repeat;"></div>
    <div class="pad-blog">
        <div class="container">
            <div class="hidden-sm hidden-md hidden-lg">
                <div class="input-search product-animated-bottom">
                    <div class="i-search">
                        <img src="{% static 'images/icons/search.png' %}" alt="icon_search" />
                    </div>
                    <form method="GET" action="/blog">
                        {% render_field filter.form.judul class="form-control" placeholder="Cari Artikel" %}
                    </form>
                </div>
                <div class="bg-category product-animated-bottom">
                    <div class="t-category">Kategori</div>
                    <ul>
                        {% if category %}
                        {% for obj in category %}
                        <li><a href="/blog/?kategori={{obj.id}}">{{obj.nama}}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row inline">
                <div class="col inline l-9 m-8 s-12">
                    <div class="left-blog">
                        <div class="detail-blog product-animated-bottom">
                            {{ blog.judul }}
                        </div>
                        <ul class="list-detail-blog product-animated-bottom">
                            <li>
                                <div class="inline-block v-middle">
                                    <img src="{% static 'images/icons/calender.png' %}" style="height: 16px;" />
                                </div>
                                <div class="inline-block v-middle d-article">{{ blog.dibuat_pada|date }}</div>
                            </li>
                        </ul>
                        <div class="txt-blog product-animated-bottom">
                            {{ blog.konten|safe }}
                        </div>
                    </div>
                </div>


                <div class="col inline l-3 m-4 s-12 hidden-xs">
                    <div class="right-blog">
                        <div class="input-search product-animated-bottom">
                            <div class="i-search">
                                <img src="{% static 'images/icons/search.png' %}" />
                            </div>

                            <form method="GET" action="/blog">
                                {% render_field filter.form.judul class="form-control" placeholder="Cari Artikel" %}
                            </form>
                        </div>

                        <div class="bg-category product-animated-bottom">
                            <br>
                            <div class="t-category bold">Kategori</div>
                            <ul>
                                {% if category %}
                                {% for obj in category %}
                                <li><a href="/blog/?kategori={{obj.id}}">{{obj.nama}}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>

                        <div class="bg-article">
                            <div class="t-article bold">Populer Bulan Ini</div>
                            {% if blogs %}
                            {% for obj in blogs %}
                            {% if obj.dibuat_pada.month == today.month %}
                            <div class="in-article">
                                <a href="{% url 'detail-blog' obj.slug %}">
                                    <div class="tbl">
                                        <div class="cell w80 product-animated-left">
                                            <div class="i-article"
                                                style="background: url('{% if blog.img %} {{ blog.img.url }} {% else %} {% static 'images/news/logo.png' %} {% endif %}') center no-repeat;">
                                            </div>
                                        </div>
                                        <div class="cell product-animated-right">
                                            <div class="n-article">
                                                <div>{{ obj.judul }}</div>
                                            </div>
                                            <div>
                                                <div class="inline-block v-middle">
                                                    <img src="{% static 'images/icons/calender.png' %}"
                                                        style=" height: 16px;" />
                                                </div>
                                                <div class="inline-block v-middle d-article">
                                                    {{ obj.dibuat_pada|date:"D, d M y" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div>Belum ada Blog</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-next-article">
                {% if next_blog %}
                <div class="title bold">Next Articles</div>
                <!-- artikel selanjutnya -->
                <div class="row inline min-10">

                    {% for next in next_blog %}
                    <div class="col inline l-3 m-3 s-12 min-10 product-animated-bottom">
                        <div class="item-article">
                            <a href="{% url 'detail-blog' next.slug %}">
                                <div class="overlay-article"></div>
                                <div class="text">
                                    <div class="name-article">{{ next.judul }}</div>
                                    <div class="date-article">{{ next.dibuat_pada }}</div>
                                </div>
                                <div class="img-article"
                                    style="background: url('{% if next.img %} {{ next.img.url }} {% endif %}') no-repeat center;">
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- end -->

            </div>
        </div>
    </div>
    </div>
</section>
{% endblock main %}

{% block script %}
<script type="text/javascript">
    $('#main-menu ul li.menu-blog, ul.resp-menu li.menu-blog a').addClass('active');

    $('.slider-search').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        autoplay: true,
        dots: false,
        speed: 1000,
    });

    $('.slide-search .fa-chevron-right').on('click', function () {
        $('.slider-search').slick('slickNext');
    });

    $('.slide-search .fa-chevron-left').on('click', function () {
        $('.slider-search').slick('slickPrev');
    });
</script>
{% endblock script %}