{% load static %}
                <div class="container">
                    {% if blog %}
                    <div class="banner">
                        <div class="product-animated-bottom hidden-sm hidden-md hidden-lg">
                            <div class="t-blog">Blog</div>
                            <div class="b-blog">
                                <div>
                                    <p>
                                        Buka blog untuk informasi lebih lanjut
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row inline">
                            
                            <div class="col inline l-6 m-6 s-12 product-animated-bottom">
                                <div class="banner1">
                                    <div class="slider-home1">
                                        <div class="item">
                                            <a href="{% url 'detail-blog' blog.first.slug %}">
                                                <div class="overlay-slider"></div>

                                                <div class="text">
                                                    <div class="t-slider">
                                                        {{ blog.first.judul }}
                                                    </div>
                                                    <div class="d-slider">{{ blog.first.dibuat_pada|date:"D, d M Y" }}</div>
                                                </div>
                                                {% if blog.first.img %}  
                                                <div class="img-banner1" style="background: url('{{ blog.first.img.url }}') no-repeat center;"></div>
                                                {% else %} 
                                                <div class="img-banner1">Belum Mempunyai Gambar</div>
                                                {% endif %}    
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col inline l-6 m-6 s-12">
                                <div class="product-animated-bottom hidden-xs">
                                    <div class="t-blog">
                                        <a href="blog/">Blog</a>
                                    </div>
                                    <div class="b-blog">
                                        <div>
                                            <p>
                                                Meskipun gambar menggambarkan berbagai makna, cerita serta pengalaman juga dijelaskan secara terperinci.
                                            </p>
                                            <br/>
                                            <p>
                                                Tidak hanya memuaskan untuk mata, tetapi juga memastikan untuk melanjutkan perjalanan. Mengetahui pengalaman yang akan datang, pergilah ke blog untuk informasi lebih lanjut.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- konten slider-->
                                <div class="pos-slider">
                                    <div class="arrow-blog">
                                        <div class="slider-left">
                                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                        </div>
                                        <div class="slider-right">
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                    
                                    <div class="row inline">
                                        <div class="col inline l-6 m-6 s-6 product-animated-left resp-pad0">
                                            <div class="banner2">
                                                <div class="slider-home2">
                                                    
                                                    {% for obj in blog_filter %}
                                                    <div class="item">
                                                        <a href="{% url 'detail-blog' obj.slug %}">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    {{ obj.judul }}
                                                                </div>
                                                                <div class="d-slider">{{ obj.dibuat_pada|date:"D, d M Y" }}</div>
                                                            </div>
                                                            {% if obj.img %}  
                                                            <div class="img-banner2" style="background: url('{{ obj.img.url }}') no-repeat center;"></div>
                                                            {% else %}
                                                            <div class="img-banner2" style="">Belum Ada Gambar Blog</div>                                                            
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {% if blog_filter.count > 2 %}
                                        <div class="col inline l-6 m-6 s-6 product-animated-right resp-pad0">
                                            <div class="banner3">
                                                <div class="slider-home3">
                                                    
                                                    {% for obj in blog_filter reversed %}
                                                    <div class="item">
                                                        <a href="{% url 'detail-blog' obj.slug %}">
                                                            <div class="overlay-slider"></div>
                                                            <div class="text2">
                                                                <div class="t-slider">
                                                                    {{ obj.judul }}
                                                                </div>
                                                                <div class="d-slider">{{ obj.dibuat_pada|date:"D, d M Y" }}</div>
                                                            </div>
                                                            {% if obj.img %}  
                                                            <div class="img-banner3" style="background: url('{{ obj.img.url }}') no-repeat center;"></div>
                                                            {% else %}
                                                            <div class="img-banner3" style="background: url('') no-repeat center;">Belum Ada Img Blog</div>                                                            
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- end konten slider-->
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="banner" style="display: flex">
                        <div class="col inline l-12" align='center'>
                            <div class="product-animated-bottom hidden-xs">
                                <div class="t-blog">
                                    <a href="blog/">Blog</a>
                                    <div class="b-blog">
                                        <div>&emsp13;</div>
                                        <div>
                                            <p>
                                                Belum Ada Blog
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>